<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>
<main>
  <div class="card bg-dark text-white my-3">
    <img src="/frogbot.png" class="card-img" alt="frogbot is watching you">
    <div class="card-img-overlay">
      <h5 class="card-title">CVE-2022-35949 is bad</h5>
      <p class="card-text">But this is a cool web application...</p>
    </div>
  </div>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            What's the problem with this page ?
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <p>The below link sends a remote URL as an input to the parameter <Strong>myURL</Strong>.</p>
          <p>Passing a remote URL to the server may be used to execute an SSRF (Server-side Request Forgery) invocation causing a remote code to run on the server</p>
          <a href="/uploadPath?myURL=https://raw.githubusercontent.com/jfrog/project-examples/master/README"> Try it !</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <a target="_blank" href="https://nvd.nist.gov/vuln/detail/CVE-2022-35949"> What is CVE-2022-35949 ?</a>
      </div>
    </div>

  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<script src="/js/jquery-3.6.2.min.js" ></script>
<script src="/js/bootstrap.bundle.min.js" ></script>
</body>
</html>